@import '../../assets/scss/media-queries';

.banner-container {
  width: 80%;
  padding: 0 10%;
  height: 540px;
  background: #000 url(../../assets/images/header.png) left top no-repeat;
  background-size: cover;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include phone {
    height: 200px;
  }

  @include tablet {
    height: 300px;
    width: 90%;
    padding: 0 5%;
  }

  h1,
  p,
  button {
    color: #fff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    font-weight: 500;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 48px;

    @include tablet {
      font-size: 35px;
    }

    @include phone {
      font-size: 25px;
    }
  }
  p {
    font-size: 20px;
    @include tablet {
      font-size: 16px;
    }
    @include phone {
      font-size: 12px;
    }
  }
}
